body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.hero {
    height: 100vh; /* Ocupa a altura total da janela de visualização */
    background: url('Do\ campo\ a\ cidade.png') no-repeat center center fixed; /* Substitua 'sua-imagem.jpg' pelo caminho da sua imagem */
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a div */
    position: relative;
    z-index: 1;
}

.content {
    padding: 20px;
    background: white;
    position: relative;
    z-index: 2;
}